# Mini-SOAR

APP_ENV=development
APP_PORT=8000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mini_soar
DB_USER=mini_soar
DB_PASSWORD=change_me

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Zabbix
ZABBIX_SERVER_URL=http://zabbix-server
